{% extends 'base.html' %}
{% block content %}
{% if not form.instance.pk %}
<div class="container">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Publish</button>
</form>
</div>
{% else %}
{% ifequal request.user post.author %}
<div class="container">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Publish</button>
</form>
</div>
{% else %}
Not Autherized
{% endifequal %}
{% endif %}
{% endblock %}